@(elements: helper.FieldElements)

@*
 * Generate input according twitter bootstrap 2.0 rules.
 *@
<div class="control-group @if(elements.hasErrors) {error}">
  @if(elements.label != null) {
    <label class="control-label" for="@elements.id">@elements.label</label>
  }
  <div class="controls">
    @elements.input
    @if(elements.infos != null) {
        <p class="help-inline">@elements.infos.mkString(", ")</p>
    }
    @if(elements.hasErrors) {
        <p class="help-inline">@elements.errors.mkString(", ")</p>
    }
  </div>
</div>