@(loginForm: Form[forms.PasswortReset])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main() {
<div style="text-align: center;">

    <h3>pwd reset</h3>

</div>
}