@(registerForm: Form[forms.Registration])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main() {
<div style="text-align: center;">

    <h3>@Messages("registerSuccess.heading")</h3>

    <div>
        An activation mail has been send to @registerForm("email").value. Check your inbox.
    </div>

</div>
}