@(loginForm: Form[forms.Login])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main() {
<div style="text-align: center;">

    <h3>@Messages("signin.signin")</h3>

    @form(routes.Account.authenticate(), 'class -> "form-vertical") {

    @if(loginForm.hasGlobalErrors) {
    <div class="alert alert-error">
        <span class="label label-important">@Messages("form.error")</span>
        @loginForm.globalError.message
    </div>
    }

    <fieldset>
        @inputText(
        loginForm("email"),
        'placeholder -> Messages("email"),
        '_label -> null,
        '_help -> Messages("signin.your.email")
        )
        @inputPassword(
        loginForm("password"),
        '_label -> null,
        'placeholder -> Messages("password"),
        '_help -> Messages("signin.your.password")
        )
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("signin.signin")">
        <small><a href="@controllers.Account.initiatePasswordReset()">@Messages("forgot.password")</a></small>
    </div>
    }

</div>
}