@(registerForm: Form[forms.Registration])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main() {
<div style="text-align: center;">

    <h3>@Messages("register.heading")</h3>

    @form(routes.Account.register(), 'class -> "form-vertical") {

    @if(registerForm.hasGlobalErrors) {
    <p class="error">
        <span class="label important">@registerForm.globalError.message</span>
    </p>
    }

    <fieldset>
        @inputText(
        registerForm("email"),
        'placeholder -> Messages("email"),
        '_label -> null,
        '_help -> ""
        )
        @inputPassword(
        registerForm("password"),
        '_label -> null,
        'placeholder -> Messages("password"),
        '_help -> Messages("")
        )
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="@Messages("registration.submit")">
    </div>
    }

</div>
}